* {
  background-color: wheat;
}

div {
  background-color: green;
  width: 100px;
  height: 100px;
}

div:hover {
  background-color: red;
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: black;
  background-color: blueviolet;
}

a:hover {
  background-color: red;
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: all 0.5s;
}
